@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
	font-family: 'Arimo', sans-serif;
	color: #2a3343;
}

a {
	font-family: 'Arimo', sans-serif;
}
.top-menu1 a {
	font-size: 12px;
	color: #9ea2a9;
	transition: 1s;
	font-family: 'Arimo', sans-serif;
	
}
.top-menu1 a:hover {
	color: #000;
}
.city {
	font-size: 13px;
}
.top-phone {
	font-size: 20px;
}
.work-time {
	color: #9ea2a9;
	font-size: 13px;
}
.logo {
	width: 222px;
	height: 17px;
	background: url(../images/logo.png) no-repeat;
	margin: 30px auto;
}
.cart-block {
	display: block;
	background: url(../images/cart-bg.png) left center no-repeat;
	padding-left: 50px;
	font-size: 13px;
	line-height: 75px;
	font-weight: bold;
	color: #000;
}

.cart-block:hover {
	text-decoration: underline;
	color: #000;
}
.header-main {
	border-bottom: 1px solid 
}
.goods-menu {
	font-size: 15px;
	text-transform: uppercase;

}
.goods-menu li {
	margin: 0 10px;
}
.goods-menu a {
	color: #2a3343;
	line-height: 40px;
}
#slide1, #slide2, #slide3 {
	height: 500px;
}
#slide1 {
	background: url(../images/slider-1.jpg) no-repeat center;
}
#slide2 {
	background: url(../images/slider-2.jpg) no-repeat center;
}
#slide3 {
	background: url(../images/slider-3.jpg) no-repeat center;
}
.slider-content {
	background: rgba(0, 0, 0, 0.3);
	padding: 40px 0;
}
.title-slider {
	font-size: 36px;
	color: #fff;
}
.text-slider {
	color: #fff;
	font-size: 18px;
}
.slider-content {
	position:relative;
	top:150px;
}
.slider-link {
	display: block;
	background-color: #fff;
	padding: 10px;
	width: 100px;
	margin: 20px auto;
}
.top-coll-header {
	line-height: 100px;
}
.top-collection {
	margin-bottom: 40px;
}
.top-collection img, .top-sales img {
	width: 100%;
}
.top-coll-title {
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}
.top-coll-text {
	text-align: left;
}
.top-sales {
	background-color: #edeef0;
}
.top-sales h2 {
	font-size: 30px;
	line-height: 80px;
}
.tile-label {
	margin: 5px 0;
}
.price {
	font-weight: bold;
	font-size: 15px;
}