@import url('https://fonts.googleapis.com/css?family=Arimo');
body {
	font-family: 'Arimo', sans-serif;
	color: #2a3343;
	font-size: 14px;
}

a {
	font-family: 'Arimo', sans-serif;
}
.top-menu1 {
	float: none;
}
.top-menu1 a {
	font-size: 12px;
	color: #9ea2a9;
	transition: 1s;
	font-family: 'Arimo', sans-serif;
	
}
.top-menu1 a:hover {
	color: #000;
}
.top-menu-button  span{
	background-color: #2a3343;
}
@media (max-width: 768px) {
	.top-menu1 {
		background-color: #edeef0;
	}
	.top-menu1 li {
		display:block;
		padding: 5px 0;
		border-bottom: 1px solid #000;
		
		
	}
	.top-menu1 a {
		font-size: 17px;
		color: #000;
	}
	.top-menu1 a:hover {
		color:#9ea2a9;
		text-decoration: none;
	}
}
#sales-menu {
	color: #d51422;
}

.city {
	font-size: 13px;
}
.top-phone {
	font-size: 20px;
}
.work-time {
	color: #9ea2a9;
	font-size: 13px;
}

.logo {
	width: 222px;
	height: 17px;
	background: url(../images/logo.png) no-repeat;
	margin: 30px auto;
}
.cart-block {
	display: block;
	background: url(../images/cart-bg.png) left center no-repeat;
	padding-left: 50px;
	font-size: 13px;
	line-height: 75px;
	font-weight: bold;
	color: #000;
	position: relative;
	width: 110px;
	margin: 0 auto;
}
.not-empty {
	float: left;
	position: absolute;
	top: 15px;
    left: 20px;
	background-color: #ef0b41;
	border-radius: 15px;
	padding: 8px;
	line-height: 6px;
	color: #fff;
}
.cart-block:hover {
	text-decoration: underline;
	color: #000;
}
.header-main {
	border-bottom: 1px solid 
}
.goods-menu {
	font-size: 15px;
	text-transform: uppercase;

}
.goods-menu li {
	margin: 0 10px;
}
.goods-menu a {
	color: #2a3343;
	line-height: 40px;
}
#slide1, #slide2, #slide3 {
	height: 500px;
	width: 100%;
}
#slide1 {
	background: url(../images/slider-1.jpg) no-repeat center;
}
#slide2 {
	background: url(../images/slider-2.jpg) no-repeat center;
}
#slide3 {
	background: url(../images/slider-3.jpg) no-repeat center;
}
.slider-content {
	background: rgba(0, 0, 0, 0.3);
	padding: 40px 0;
}
.title-slider {
	font-size: 36px;
	color: #fff;
}
.text-slider {
	color: #fff;
	font-size: 18px;
}
.slider-content {
	position:relative;
	top:150px;
}
.slider-link {
	display: block;
	background-color: #fff;
	padding: 10px;
	width: 100px;
	margin: 20px auto;
}
.top-coll-header {
	padding: 30px 0;
}
.top-collection {
	margin-bottom: 40px;
}
.top-collection img, .top-sales img {
	width: 100%;
}
.top-sales .col-md-3 {
	margin-bottom: 30px;
}
.top-coll-title {
	font-size: 20px;
	line-height: 30px;
	text-align: left;
}
.top-coll-text {
	text-align: left;
}
.top-sales {
	background-color: #edeef0;
	padding-bottom: 70px;
}
.top-sales h2 {
	font-size: 30px;
	line-height: 80px;
}
.tile-label {
	margin: 5px 0;
	font-size: 17px;
}
.price {
	font-weight: bold;
	font-size: 20px;
}
.sale-price {
	font-size: 20px;
	color: #9ea2a9;
}
.sale-price  span{
	color: #d51422;
	float: right;
	font-weight: bold;
}

.sale-lable {
	border-radius: 25px;
	background-color: #d51422;
	padding: 10px 14px ;
	color: #fff;
	font-weight: bold;
	float: left;
	position: absolute;
	top: 10px;
	right: 20px;
}
.top-sales col-md-3 {
	position:relative;
}
.text-block {
	padding: 40px 15px;
	border-bottom: 1px solid #edeef0;
}
.text-block h1 {
	font-size: 25px;
	margin-bottom: 30px;
	font-weight: bold;
}
.text-block p {
	font-size: 17px;
	margin-bottom: 20px;
}
.footer-text {
	color: #9ea2a9;
	margin-bottom: 20px;
}
footer {
	padding-top: 70px;
}
footer p {
	margin-bottom: 2px;
}
.footer-menu  {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
.footer-menu li {
	margin-bottom: 5px;
}
.footer-menu a {
	font-size: 17px;
	color: #2d3545;

}
.footer-menu a:hover {
	color: #2d3545;
}
.footer-logo {
	width: 222px;
	height: 17px;
	background: url(../images/logo.png) no-repeat;
	margin: 0 auto 30px;
}
.copyright {
	font-size: 12px;
	color: #9ea2a9;
}
.card-block {
	width: 216px;
	height: 36px;
	background: url(../images/card.png) no-repeat;
	margin-bottom: 10px;
}
.descr-coll h1, .descr-good h1 {
	font-size: 30px;
}
.descr-coll h2 {
	font-size: 20px;
}
.descr-coll p {
	font-size: 17px;
}
.descr-coll a {
	font-size: 14px;
	color: #2146be;
	transition: 1s;
	font-weight: bold;
}
.descr-coll a:hover {
	color: #ef0b41;
	text-decoration: none;
}
.descr-coll {
	padding: 30px 0 40px;
}
.breadcrumbs a {
	color: #2a3343;
	font-size: 14px;
}
.breadcrumbs a:hover{
	color: #2a3343;
}
.breadcrumbs {
	color: #9ea2a9;
	margin-bottom: 40px;
}
.property div {
	font-size: 17px;
	margin-bottom: 10px;
}
.property  span {
	color: #9ea2a9;
}
.property a {
	color: #2146be;
	transition: 1s;
}
.property a:hover {
	color: #ef0b41;
	text-decoration: none;
}
.images-goods img, .thumbnails img, .articles-img img {
	width: 100%;
}
.thumbnails {
	margin-top: 20px;
	margin-bottom: 40px;
}
.old-price {
	color: #9ea2a9;
	text-decoration: line-through;
	font-size: 17px;
}
.real-price {
	font-size: 36px;
	font-weight: bold;
}
.quantity {
	font-size: 17px;
	line-height: 80px;
}
.quantity input {
	border: none;
	width:25px;
	padding-left: 5px;
}
.quantity div {
	float: right;
}
.buy-now {
	display: block;
	color: #fff;
	padding: 20px 0 20px 20px;
	margin-top: 20px;
	background: url(../images/arrow-left.png) 90% 50%  no-repeat #2146be;
	border: 1px solid #2146be;
}
.buy-now:hover {
	color: #2146be;
	background: url(../images/arrow-left-hover.png) 90% 50%  no-repeat #fff;
	border: 1px solid #2146be;
	text-decoration: none;
} 
.buy {
	display: block;
	color: #fff;
	padding: 20px 0 20px 20px;
	margin-top: 10px;
	background: url(../images/plus-hover.png) 90% 50%  no-repeat #2146be;
	border: 1px solid #2146be;
}
.buy:hover {
	color: #2146be;
	background: url(../images/plus.png) 90% 50%  no-repeat #fff;
	border: 1px solid #2146be;
	text-decoration: none;
}
.visio {
	background: url(../images/3d.png) 1% 50% no-repeat;
	padding: 5px 0 5px 50px;
	color: #ef0b41;
	margin-top: 15px;
}
.articles {
	border-bottom: 1px solid #edeef0;
	padding: 20px 0;
}
.articles a {
	color: #2146be;
}
.articles a:hover {
	color: #2146be;
}
.man-img  img {
	width: 80%;
}
.manuf-unit {
	display: table;
}
.manuf-unit {
	display: table-cell;
	vertical-align: center;
}
.man-descr {
	margin-bottom: 40px;
}
.manuf-img-wrap {
	height: 250px;
	display: table;
	width: 100%;
}

.manuf-img-wrap  div {
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.manuf-img-wrap  a {
	display: block;
	font-size: 17px;
	color: #2146be;
	transition: 1s;
}
.manuf-img-wrap  a:hover {
	color: #000;
	text-decoration: none;
	
}
.manuf-descr {
	margin-bottom: 30px;
}
.manuf {
	height: 350px;
}
..cart-table {
	width: 100%;
}
.cart-table td {
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
}

.cart-table .quantity input {
	margin-left: 0;
}
.total {
	font-size: 20px;
	text-align: right;
	margin: 20px 0 5px;
}
.total  span {
	font-weight: bold;
}
.min-price {
	text-align: right;
}
.cart-table a:hover {
	text-decoration: none;
}


.min-price {
	color: #cc0000;
}
.form-order {
	margin-top: 60px;
}
.form_card input, .form_card textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 30px;
	border: 1px solid #e0e0e0; 
	border-radius: 4px;
	padding: 10px;
}
.form_card textarea {
	height: 100px;
}
.form_card p {
	margin:0 0 2px;
}
.form_card a{
	width: 100%;
	margin-left: 0;
	margin-bottom: 40px;
}